<div class="container m-2 m-auto p-4">
  <h4 class="text-center">REGISTER</h4>
  <form #registerForm="ngForm" (ngSubmit)="submitRegister()">
    <div class="form-group">
      <label for="email">Email: </label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-success mt-3 w-100"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
    <p>
      <a routerLink="/login">Already have user? Click here</a>
    </p>
  </form>
</div>
